[Desktop Entry]
Encoding=UTF-8
Name=Link to .gitignore
Type=Link
URL=https://github.com/Pe6oProgramista/ip-homework/blob/master/05.HashAndBytes/jersey-rest-homework/.gitignore
Icon=text-html
